<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title SVG Pack JS
    script(src="./svg_pack.js" async)
  body
    h1 (DRAFT) SVG Pack JS
    span.svgp.svgp-home
    span.svgp.svgp-home2
    span.svgp.svgp-home3
    span.svgp.svgp-youtube2

    style.
      .svgp path {
        fill: #FF0000;
      }
